/*components.scss*/

a.more-link{
    display:block;
}

//get rid of the byline on articles (IHH_admin)
.single .site-main > article > .entry-footer .byline {
    display: none;
}


nav.pagination{

    margin-bottom:0;
    border-top:none;
    padding-top:0;

    ul.pagination.custom{
        border-top:0;
        display: flex;
        flex-flow: row wrap;
        margin-top:0;
        padding-top:0;
        justify-content: center;
        text-align: center;

        li.page-item{
            width:100px;
            //height:100px;
            
            a.page-link{
                color:$htown-blue;
                //padding:1em 1.5em;
            }

        }

        li.page-item.active{
            
            a.page-link{
                background-color: $htown-blue;
                color:white;
            }
        }

    }
}

.page-indicator{
    text-align: center;
    margin-top:0;
}

// airtable-embeds
.holder{

        width:360px;
        margin: 0 auto;

    iframe.airtable-embed{
        border:1px solid gray;
        margin-top:1em;
        width:360px;
    }


        @media only screen and (min-width: $tablet) {
        width:1000px;
        margin: 0 auto;

        iframe.airtable-embed{
            border:1px solid gray;
            margin-top:1em;
            width:1000px;
        }
    }

        @media only screen and (min-width: $laptop) {
            width:1300px;
            margin: 0 auto;

            iframe.airtable-embed{
                border:1px solid gray;
                margin-top:1em;
                width:1300px;
            }

    } 
    
    @media only screen and (min-width: $fullscreen) {
        width:1400px;
        margin: 0 auto;

        iframe.airtable-embed{
            border:1px solid gray;
            margin-top:1em;
            width:1400px;
        }

    }  


}//end holder




aside.widget-area{

    section#search-2.widget.widget_search{
        
        form.search-form{

            //border:1px solid orange;

            label{

            }

            input#search-form-3.search-field{
                border:2px solid black;
            }

            input.search-submit{
                border:2px solid black;
                color:black;

                &:link{
                    color:black;
                }

                &:visited{
                    color:black;
                }

                &:hover{
                    color:gray;
                }

                &:active{
                    color:gray;
                }


            }

        }//end form

      
    
    }//end section#search-2


}
		

//get rid of the categories and tags on query pages
body.home, 
.loop-events{

    article{

        border-bottom:1px solid $htown-gray;



            footer.entry-footer{

                .posted-on{
                    color: gray;
                }

                .post-taxonomies{
                    .cat-links, .tags-links{
                        display: none;
                    }
                }
            }       

    }

}

