/* _footer.scss */



footer#colophon.site-footer{
    background-color: black;
    max-width: 100%;
    width:100%;
    display:block;

    .sr-only {
        color:black;

    }


    .site-info{
        border-top:none;
        color:white;
        display:block;
        margin: 0 1em;
        // border:2px solid purple;
        
        text-align: left;

        @media only screen and (min-width: $break02) {
            padding-top: 2.6em;
          }  

        .footer-logos{

            display:block;
            margin-bottom: 1em;;
                      
            .col01{

                img.ihh-logo-footer{
                    padding-right:2em;
                    width: 100%;
                    height: auto;

                }

            }

            .col02{

                img.ha-logo-footer{
                    margin: .65em 0 1em 0;
                    width: 40%;
                    height: auto;

                    @media only screen and (min-width: $break01) {
                        margin:0;
                    }    
                }

            }//end col02

        }//end footer-logos


        h2, h3{
            text-transform: uppercase;
        }

        //Highlandtown Main Street, HA! Arts District 
        .footer-names{
            margin-bottom: 1em;
            border-bottom:1px solid white;
            padding-bottom: 1em;
            display: block;
            overflow-wrap:break-word;
               
        }

        .email{
            margin-bottom:1em;
            overflow-wrap:break-word;
        }

        nav{

            margin-top:0;

            ul{
                display:block;
                li{
                    display:block;
                    line-height: 1.8;
                }
            }
        }

        .footer-nav{
            display:none;

            @media only screen and (min-width: $break02) {
                display:block;
              }    

        }

        .footer-about{
            margin-top:1em;

            @media only screen and (min-width: $break02) {
                margin-top:0;
              }    

        }


    }//end site-info

    p.copyright{
        text-align: center;
        color: white;
        font-size: .7em;
        padding-top:2em;
        margin-bottom: 0;
    }

    p.credit{
        text-align: center;
        color: white;
        font-size: .65em;
        margin:0;
        font-family: 'Courier New', Courier, monospace;
        
        a {
            color:white;
            text-decoration: none;
        
            &:visited {
                color:white;
            }
            
            &:hover {
            color: lighten($htown_blue, 5%);
            }
            
            &:active {
                color: darken($htown_blue, 5%);
            }
        }


    }


    a {
        color:$htown_blue;
    
        &:visited {
            color:$htown_blue;
        }
        
        &:hover {
        color: lighten($htown_blue, 5%);
        }
        
        &:active {
            color: darken($htown_blue, 5%);
        }
    }


    .contact-info{
        padding-right:3em;
    }

    .social-media-icons{

        display:flex;
        justify-content: space-between; 
       width:90px;
    }
     


}






@media only screen and (min-width: $break01) {
    
    footer#colophon.site-footer{

        .site-info{
            

            .footer-logos{

                
                margin-bottom: 1em;
                display:flex;
                flex-direction: row wrap;

                          
                .col01{

                    // border:1px dotted gray;
                    flex: 2.5 0 100px;
               
                    display:flex;
                    flex-direction: column;
                    justify-content: center; 
    
                    img.ihh-logo-footer{
                        padding-right:2em;
                        width: 100%;
                        height: auto;
                        // border:1px solid red;
                    }
    
                }
    
                .col02{

                    border:1px dotted rgb(31, 26, 26);
                    flex: 1 0 50px;
                  
                    display:flex;
                    flex-direction: column;
                    justify-content: center; 

                    img.ha-logo-footer{
                        // margin: .65em 0 1em 0;
                        width: 100%;
                        height: auto;
                        // border:1px solid red;
    
                        @media only screen and (min-width: $break01) {
                            margin:0;
                        }    
                    }
    
                }//end col02
    
            }//end footer-logos


        }//end .site-info

    }//end footer#colophon.site-footer{   

}  //end media query $break01  

