/* _main */


element.style {
}
.site .button:not(:hover):not(:active):not(.has-background), 
button:not(:hover):not(:active):not(.has-background), 
input[type=submit]:not(:hover):not(:active):not(.has-background), 
input[type=reset]:not(:hover):not(:active):not(.has-background), 
.wp-block-search .wp-block-search__button:not(:hover):not(:active):not(.has-background), 
.wp-block-button .wp-block-button__link:not(:hover):not(:active):not(.has-background), 
.wp-block-file a.wp-block-file__button:not(:hover):not(:active):not(.has-background) {
    // background-color: var(--global--color-primary);
    background-color:rgba(255,255,255,0);
}


element.style {
}
nav#site-navigation.primary-navigation.custom form input[type="search"] {
    background-color: white;
    height: 40px;
    border-radius: 20px;
}
nav#site-navigation.primary-navigation.custom, nav#site-navigation.primary-navigation.custom *, nav#site-navigation.primary-navigation.custom a:hover, nav#site-navigation.primary-navigation.custom a:visited, nav#site-navigation.primary-navigation.custom a:active {
    background: none;
    border: none;
    bottom: auto;
    clear: none;
    cursor: default;
    display: block;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    top: auto;
    visibility: visible;
    white-space: normal;
    width: auto;
    width: 100%;
    z-index: auto;
    opacity: 1;
}
// input[type=search]:focus {
//     outline-offset: -7px;
// }

.hidden{
    display:none;
}

//turn off dotted outline on masthead logo
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) img {
    outline: none;
}



input[type=text]:focus, 
input[type=email]:focus, 
input[type=url]:focus, 
input[type=password]:focus, 
input[type=search]:focus, 
input[type=number]:focus, 
input[type=tel]:focus, 
input[type=date]:focus, 
input[type=month]:focus, 
input[type=week]:focus, 
input[type=time]:focus, 
input[type=datetime]:focus, 
input[type=datetime-local]:focus, 
input[type=color]:focus, 
.site textarea:focus {
    outline:0;
}




body{

    background-color:$htown_teal;

    a{
        &:link{

        }

        &:visited{
            
        }

        &:hover{
            color: $htown_blue;
        }

        &:active{
            color: $htown_blue;
        }
    }

    .google-translate{
        border-bottom:4px solid $htown_pink;
        position:fixed;
        bottom:0;
        right:0;
        background-color: rgba(255,255,255, .7);
        padding:1em;
        display:none;

    }

    #page{
        // border:2px solid palevioletred;
        background-color: white;

        //header would go here (from its own partial)

        #content{
            //padding-top:none;

            #primary{

                .site-main{
                    padding-top:0;
                }

                main#main{

                    // border:5px aquamarine solid;

                }

            }//end primary

        }

        aside.widget-area{
            //border:3px solid orange;
            padding-bottom:3em;
        }

    }//end #page

}

@media only screen and (min-width: $break03) {
  
    body{

        // .google-translate{
        //     border-top:4px solid $htown_pink;
        //     border-bottom:0px solid $htown_pink;
        //     position:fixed;
        //     top:0;
        //     right:0;
        //     bottom:auto;
        //     background-color: rgba(255,255,255, .7);
        //     padding:1em;
    
        // }

    }


} 