/*navigation.scss*/

//https://jonsuh.com/hamburgers/

//wipe out original WP menu styles ------------------------
nav#site-navigation.primary-navigation.custom,
nav#site-navigation.primary-navigation.custom *,
nav#site-navigation.primary-navigation.custom a:hover,
nav#site-navigation.primary-navigation.custom a:visited,
nav#site-navigation.primary-navigation.custom a:active,
{
    
    background:none;
	border:none;
	bottom:auto;
	clear:none;
	cursor:default;
	/* didn't really know what the default for display should be*/
	display:block;
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-style:normal;
	font-weight:normal;
	height:auto;
	left:auto;
	letter-spacing:normal;
	line-height:normal;
	max-height:none;
	max-width:none;
	min-height:0;
	min-width:0;
	overflow:visible;
	position:static;
	right:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	top:auto;
	visibility:visible;
	white-space:normal;
	width:auto;
    width:100%;
	z-index:auto;
    opacity: 1;
    
}



nav#site-navigation.primary-navigation.custom{
    // border:1px solid red;
    
    // background-color: yellow;;
    //display:none;  HIDE THE MENU BY DEFAULT

    //hide the original WP menu button 
    div.menu-button-container{
        display:none;
    }



   div.primary-menu-container{

        // border:1px solid green;
        margin:0;
        padding:0;

        ul#primary-menu-list.menu-wrapper{

            // text-transform: uppercase;

            //each top-level menu item (before sub-items)
            li.menu-item{
                //border:1px solid red;
                // background-color:rgb(243, 82, 216);
                border-bottom: 1px solid rgb(211, 211, 211);


                a {
                    
                    color:black;
                    // color:$htown_blue;
                    text-transform: uppercase;

                    &:visited {
                        color:black;
                    }
                    
                    &:hover {
                    color: lighten($htown_blue, 5%);
                    cursor: pointer;
                    }
                    
                    &:active {
                        color: darken($htown_blue, 5%);
                    }
                }

                //hide the original WP sub-menu toggle buttons
                button.sub-menu-toggle{
                    display:none;
                }

                //each sub-menu item
                ul.sub-menu{
                    padding-top:0;
                    background-color:rgb(255, 255, 255) !important;
                    margin-left:0;
                    display: none;
                
                    li.menu-item{
                        // background-color:rgb(170, 170, 170);
                        padding-left:1em;
                        display: inline-block;
                        border-bottom: 0;

                        a{
                            text-transform: none;
                        }


                    }
                
                }

            }

        }
     

   } //end primary menu container


}

nav#site-navigation.primary-navigation.custom.visible{
    display:block;
}


button.hamburger{
    // border:1px solid green;
}