/* _submenu-pages.scss */


body.page-template{

    #content{

        //margin-top:0 !important;

    #primary{

        .site-main{

            .custom-content{
                margin-bottom:.5em;

             }//custom-content (this actually surrounds more, below)

             .loop-no-header{ //we still want the Loop, but don't want its header (otherwise, there will be two headers), so this is a headerless Loop...

                article { //generic article, not hard-coded
                    header.entry-header{
                       display:none;
                    }
                }//end article (generic)
             }//end loop-no-header
       

            article.hardcoded{

                margin-bottom:0;
    
           
                header.hardcoded{
                    display:block;
                    margin-bottom:0;
                    padding-bottom:1em;
    
                    h1.hardcoded{
                        // text-align: center;
                    }
    
                }
    
            }//article -------------------

            

                .callouts{
                        // background-color: $htown_gray;
                        display:flex;
                        flex-flow: row wrap;
                        margin-top:0; 
                        justify-content: space-around;
                        padding:0;
           
               

                        .callout{
                            width:100%;
                            min-height: 200px;
                            background-color: $htown_blue;
                            color:white;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0 0 0 0;
                            cursor:pointer;
                            overflow:hidden;
                            margin-bottom:0;


                            &:hover .bgimage{
                                transform:scale(1.1);
                            }

                            &:hover svg .st0{
                                fill: $htown_pink !important;
                            }
                            
                            .bgimage{
                                background-image: url('images/callout.jpg');
                                background-size:cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                width:100%;
                                height:100%;
                                transition: transform .5s;
                                
                            }


                            .content{
                                top:0px;
                                left:0px;
                                display:flex;
                                position:absolute;
                                width:100%;
                                height:100%;
                                align-items: center;

                                .lockup{
                                    padding-bottom: .5em;;
                                    margin-top: -1em;;
                                    width:100%;
                                    text-align: center;;

                                    h2{
                                        text-align: center;
                                        padding-bottom: 0;
                                        //border-bottom:4px solid $htown_pink;
                                        text-transform: uppercase;
                                        //text-shadow: 2px 2px 4px #000000;
                                        line-height:1.1em;
                                    }

                                    img{
                                        width:50%;
                                        height:auto;
                                        border-bottom:4px solid $htown_pink;
                                        padding-bottom:.35em;
                                        display:none;
                                    }

                                }//end lockup


                                .cta{
                                    display:block;
                                    position: absolute;
                                    bottom:0;
                                    right:0;
                                    //border:1px dotted white;
                                    width:100px;
                                    height:100px;

                                    svg.ctaBG{
                                        fill: $htown_orange;
                                        position:absolute;
                                        z-index: 100;
                    
                                    }

                                }


                            }//end content    
                            

                        }//end callout

                    //}//end a

                        .callout.available-buildings .bgimage{
                            background-image: url('images/callout_available-buildings.jpg');
                        }

                        .callout.incentives-resources .bgimage{
                            background-image: url('images/callout_incentives-resources.jpg');
                        }

                        .callout.covid .bgimage{
                            background-image: url('images/callout_covid.jpg');
                        }

                        .callout.support-artists .bgimage{
                            background-image: url('images/callout_support-artists.jpg');
                        }

                        .callout.bizdir-art .bgimage{
                            background-image: url('images/callout_bizdir-art.jpg');
                        }

                        .callout.nightlife-dining .bgimage{
                            background-image: url('images/callout_nightlife-dining.jpg');
                        }

                        .callout.shopping .bgimage{
                            background-image: url('images/callout_shopping.jpg');
                        }

                        .callout.acerca-de .bgimage{
                            background-image: url('images/callout_acerca-de.jpg');
                        }

                        .callout.abrir-un-negocio .bgimage{
                            background-image: url('images/callout_abrir-un-negocio.jpg');
                        }

                        .callout.explorar .bgimage{
                            background-image: url('images/callout_explorar.jpg');
                        }

                        .callout.eventos .bgimage{
                            background-image: url('images/callout_eventos.jpg');
                        }

                        .callout.contacto .bgimage{
                            background-image: url('images/callout_contacto.jpg');
                        }
                        

                    }//end callouts

                //}//custom-content        

                    .articles{

                        article{
                            //border-top:1px solid $htown_gray;
                        }


                    }//end articles


                    //}//end header-carousel
                            
                }//end .site-main

            }//end #primary

        }//end #content

}//end body.home        




//media query TABLET
@media only screen and (min-width: $tablet) {

body.page-template{

    #content{

        #primary{

    .site-main{

     

        .callouts{
            //background-color: $htown_gray;
            margin:0 auto;
            max-width: var(--responsive--alignwide-width);
            display:flex;
            flex-flow: row wrap;
            margin-top:0; 
            margin-bottom:0;
            justify-content: space-around;
            padding:2em 1em 0 1em;

            .callout{
                //display:flex;
                
                width:44%;
                min-height: 200px;
                background-color: $htown_blue;
                color:white;
                position: relative;
                justify-content: center;
                align-items: center;
                border-radius: 16px 0 0 0;
                cursor:pointer;
                overflow:hidden;
                -webkit-mask-image: -webkit-radial-gradient(white, black);//this fixes the browser bug in Safari that screws up the rounded edges on image transform

                &:nth-child(1),
                &:nth-child(2),
                 {

                     margin-bottom:1em;

                }

                &:hover .bgimage{
                    transform:scale(1.1);
                }

                &:hover svg .st0{
                    fill: $htown_pink !important;
                }
                
                .bgimage{
                    background-image: url('images/callout.jpg');
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width:100%;
                    height:100%;
                    
                    transition: transform .5s;
                    
                }


                .content{
                    top:0px;
                    left:0px;
                    display:flex;
                    position:absolute;
                    width:100%;
                    height:100%;
                    align-items: center;

                    .lockup{
                        padding-bottom: .5em;;
                        //margin-top: -2em;
                        width:100%;
                        text-align: center;;

                        h2{
                            text-align: center;
                            padding-bottom: 0;
                            text-transform: none;
                        }

                        img{
                            width:50%;
                            height:auto;
                            border-bottom:4px solid $htown_pink;
                            padding-bottom:.35em;
                            display:inline-block;
                        }

                    }//end lockup


                    .cta{
                        display:block;
                        position: absolute;
                        bottom:0;
                        right:0;
                        //border:1px dotted white;
                        width:100px;
                        height:100px;

                        svg.ctaBG{
                            fill: $htown_orange;
                            position:absolute;
                            z-index: 100;
        
                        }

                    }


                }//end content    
                

            }//end callout

      

            

        }//callouts

        .callouts#callouts-business-directory{

            .callout{
                width:32%;
                height:400px;
            }

        }//end .callouts#callouts-business-directory

        .callouts#en-espanol{

            .callout{
                width:30%;
                height:400px;
                flex-grow:1;
                margin:0 .5em 1em .5em;
            }

        }//end .callouts#callouts-business-directory

        .articles{

            //border:2px orange solid;
            margin-top:0;
            display:flex;
            flex-flow: row wrap;
            justify-content: space-around;

            article{
                //border:4px solid purple;
                width:43%;
                margin-bottom:2em;
                //border-top:1px solid $htown_gray;

                &:nth-child(1),
                &:nth-child(2){
                    //border-top:0px;
                }

                    header{
                        h2{

                        }//h2

                        figure{

                            a{

                                img{
                                    
                                    margin-top:0;
                                    

                                }

                            }

                        }//figure



                    }//header

            }


        }//end articles
    
    }//end site-main

    } //#content

    } //#primary

}//end body

}//end tablet media query



//media query FULLSCREEN -------------------------------
@media only screen and (min-width: $laptop) {

body.page-template{


    #content{


    #primary{


    .site-main{


        article.hardcoded{

            margin-bottom:0;
           
            header.hardcoded{
                display:block;
                margin-bottom:0;
                padding-bottom:1em;

                h1.hardcoded{
                    // text-align: center;
                }

            }

        }//article

        .callouts{
            //background-color: $htown_gray;
            max-width: var(--responsive--alignwide-width);
            display:flex;
            flex-flow: row nowrap;
            margin: 0 auto;
            justify-content: space-around;
            //padding:2em 5em;
            padding:1em 1em 0 1em;
            //border:1px solid red;

            .callout{
                //display:flex;
               
                width:23%;
                height: 300px;
                background-color: $htown_blue;
                color:white;
                position: relative;
                justify-content: center;
                align-items: center;
                border-radius: 32px 0 0 0;
                cursor:pointer;
                overflow:hidden;
                -webkit-mask-image: -webkit-radial-gradient(white, black);//this fixes the browser bug in Safari that screws up the rounded edges on image transform

                &:hover .bgimage{
                    transform:scale(1.1);
                }

                &:hover svg .st0{
                    fill: $htown_pink !important;
                }
                
                .bgimage{
                    background-image: url('images/callout.jpg');
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width:100%;
                    height:100%;
                    
                    transition: transform .5s;
                    
                }


                .content{
                    top:0px;
                    left:0px;
                    display:flex;
                    position:absolute;
                    width:100%;
                    height:100%;
                    align-items: center;

                    .lockup{
                        padding-bottom: .5em;;
                        //margin-top: -2em;
                        width:100%;
                        text-align: center;;

                        h2{
                            text-align: center;
                            padding-bottom: 0;
                        }

                        img{
                            width:50%;
                            height:auto;
                            border-bottom:4px solid $htown_pink;
                            padding-bottom:.35em;
                        }

                    }//end lockup


                    .cta{
                        display:block;
                        position: absolute;
                        bottom:0;
                        right:0;
                        //border:1px dotted white;
                        width:100px;
                        height:100px;

                        svg.ctaBG{
                            fill: $htown_orange;
                            position:absolute;
                            z-index: 100;
        
                        }

                    }


                }//end content    
                

            }//end callout

        

        }//callouts

        .callouts#en-espanol{

            //border:2px solid aqua;
            flex-flow: row wrap;

            .callout{
                //border:2px solid red;
                width:30%;
                height:400px;
                flex-grow:1;
                margin:0 .5em 1em .5em;
            }

        }//end .callouts#callouts-business-directory


        .articles{

            //border:2px orange solid;
            margin-top:0;
            display:flex;
            flex-flow: row wrap;
            justify-content: space-around;
            

            article{
                width:30%;
                margin: 0 1.35em 2em 1.35em;
                //margin-bottom:2em;
                //border-top:1px solid $htown_gray;
                
                flex-grow: 1;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3){
                    border-top:0px;
                }

                    header{
                        h2{

                        }//h2

                        figure{

                            a{

                                img{
                                    
                                    margin-top:0;  

                                }

                            }

                        }//figure

                    }//header

            }

        }//end articles


    }//end site-main

     } //#content


         } //#primary

}//end body


}//end laptop media query
