/* _typography.scss */

h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;

    a{
        text-decoration: none;
    }  
    
}

h1, h2, h2.entry-title{
    letter-spacing: -.012em;
}


// header{
    h2.entry-title{
        a {
            color:$htown_blue;

            &:visited {
                color:$htown_blue;
            }
            
            &:hover {
            color: lighten($htown_blue, 5%);
            }
            
            &:active {
                color: darken($htown_blue, 5%);
            }
        }
    }
// }
