/* _variables.scss */

//COLORS
$htown_blue: #00788a;
$htown_pink: #e20177;
$htown_orange: #f38f1d;
$htown_teal: #00788a;
$htown_green: #9fa617;

$htown_gray: #CFD4D8;

$a: $htown_blue;


//-----------
//BREAKPOINTS
$break01: 560px;
$break02: 992px;
$break03: 1266px;
$tablet: 768px;
$laptop: 1366px;
$fullscreen: 1920px;

// Mobile: 360 x 640
// Mobile: 375 x 667
// Mobile: 360 x 720
// iPhone X: 375 x 812
// Pixel 2: 411 x 731
// Tablet: 768 x 1024
// Laptop: 1366 x 768
// High-res laptop or desktop: 1920 x 1080